#typography {
    text-align: left;
    font-size: 14px;
    color: #444444;
    width: 80%;
    margin: auto;
    line-break: auto;
    font-family: 'Merriweather', serif;
    display:inline-block;
}
/* Links */
a {
    color:#fffff8;
}

.intro {
    font-size: 10px;
    font-style: italic;
}
.bold {
    color:darkolivegreen;
    font-weight: bold;
    font-style: italic;
}
.small {
    font-size: 10px;
}
.list {
    color:indianred;
    font-weight: bold;
}
body {
    background-color: #DADAE4;
}
/*Small Screens */

@media(max-width:600px) {
.container {
    display: grid;
    width: 100%;
    margin:auto;
    grid-template-rows: 1fr;
    grid-template-columns: 850px;
    grid-template-areas:
    "sm"
    "ti"
    "cont"
    "sd"
    "ft"
    "hd";
}
#nestGrid {
    display:none;
}
.menu {
    grid-area: sm;
}
.header {
    display:none;
}
#typography{
    font-size: 12px;
}
.navLink {
    display:none;
}
}

/* Medium Screens */
@media(min-width:600px) and (max-width:1100px) {
.container {
    display: grid;
    width: 100%;
    margin:auto;
    grid-template-rows: 70px 250px auto 100px;
    grid-template-columns: 300px 300px 300px;
    grid-template-areas:
    "hd hd hd hd hd hd"
    "ti ti ti ti ti ti"
    "cont cont sd sd sd sd"
    "ft ft ft ft ft ft";
    }
.menu {
    display: none;
}
.dropdown_button {
	display:none;
}
}

/* Large Screens */

@media(min-width:1100px) {
 .container {
    display: grid;
    width: 100%;
    margin:auto;
    grid-template-rows: 70px 300px auto 100px;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-areas:
    "hd hd hd hd hd hd"
    "ti ti ti ti ti ti"
    "cont cont cont sd sd sd"
    "ft ft ft ft ft ft";
    }
#typography{
    font-size: 16px;
    }
.dropdown_button {
    display:none;
}
}
.box {
    display:flex;
    padding:10px;
    border: 1px solid #fffff8;
    background:none;
    flex-direction: column;
    align-items: left;
    justify-content: baseline;
}
.boxcontent {
    display:flex;
    padding:10px;
    border: none;
    background: none;
    flex-direction: column;
    align-items: center;
    justify-content:center;
}
.boxfooter {
    display:flex;
    padding:10px;
    border: none;
    background:none;
    flex-direction: row;
    align-items: baseline;
    justify-content:baseline;
}
.header {
    grid-area: hd;
    font-size: 20px;
}
.title {
    grid-area: ti;
    justify-items:center;
    justify-content:left;
}
.side {
    grid-area: sd;
}
.content {
    grid-area: cont;
    justify-items:left;
    justify-content:left;
}
.footer {
    grid-area: ft;
    font-size: 12px;
}
#noborder {
    border:none;
}
/* Header Grid */
#nestGrid{
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 100px;
    grid-template-rows: 100%;
}
.navLink {
    width: 100px;
    height: 100%;
    color:  #DADAE4;
}
#one {
    text-align:center;
    padding:10px;
}
#two {
    text-align:center;
    padding:10px;
}
#three {
    text-align:center;
    padding:10px;
}
#four {
    text-align:center;
    padding:10px;
}
#five {
    text-align:center;
    padding:10px;
}
#nestGridB{
    display: grid;
    grid-template-columns: 200px 200px;
    grid-template-rows: 200px;
    padding:10px;
    grid-gap: 10px;
}
#img_one{
    background-image:url("images/city.jpeg");
    background-size:contain;
}
#img_two{
    background-image:url("images/Plain.jpeg");
    background-size:contain;
}
.photoBox {
    width:100%;
    height:100%;
    border: 2px solid black;
}
#nestGridC {
    display:flex;
    flex-direction: column;
}
.head {
    width: 100%;
    height: 100%;
}

/* Sharing Links */

.btnz {
    display: block;
    float: left;
    padding: 10px 15px;
    border:none;
    background-color: #ececec;
    text-decoration: none;
    font-size: 18px;
    color: #FFF;
}
.btnz:hover {
    color: #efefef;
}
.facebook {
    background-color: #3b5998;
}
.twitter {
    background-color: #55acee;
}
.linkedin {
    background-color: #0077b5;
}
/* Dropdown Menu */

.dropdown_button {
	background-color: #90EE90;
	color: white;
	padding: 10px;
	font-size: 15px;
	border: none;
}

.menu {
	display: inline-block;
	position: relative;
}

.option {
	display: none;
	background-color: lightgray;
	min-width: 150px;
	z-index: 1;
	position: absolute;
}

.option a {
	text-decoration: none;
	display: block;
	color: black;
	padding: 16px;
}

.option a:hover {
	background-color: #f7f7f7;
}

.menu:hover .option {
	display: block;
}

